{% extends "base.html" %}

{% block title %}予約管理{% endblock %}

{% block content %}

    <h2 class="yoyaku-title">予約管理</h2>

    <form method="get" action="{% url 'YoyakuKanri' %}" class="yoyaku-search-container">
        <div class="yoyaku-inputbox">
            <label>お客様ID</label>
            <input type="text" name="OkyakusamaID">
        </div>

        <div class="yoyaku-inputbox">
            <label>患者名</label>
            <input type="text" name="Kanzyamei">
        </div>

        <div class="yoyaku-inputbox">
            <label>予約日</label>
            <input type="datetime-local" name="YoyakubiS">
            <label>～</label>
            <input type="datetime-local" name="YoyakubiE">
        </div>

        <div class="yoyaku-inputbox">
            <label>受付日</label>
            <input type="datetime-local" name="UketsukebiS">
            <label>～</label>
            <input type="datetime-local" name="UketsukebiE">
        </div>

        <button type="submit" class="yoyaku-serach-button">検索</button>
        <a href="{% url 'YoyakuKanri' %}"  class="yoyaku-serach-button">全件表示</a>
    </form>

    <div class="yoyaku-honzitsu-show-container">
        <button type="button" class="yoyaku-serach-button" id="BtNowDateShow">本日の予約表示</button>
    </div>

    <div class="yoyaku-table-container-container">
        <table class="yoyaku-table">

            <th class="edit-column">編集</th>
            <th>ID</th>
            <th>患者名</th>
            <th>次回予約日</th>
            <th>受付日</th>
            <th>備考</th>

            {% for kanzyadata in kanzyadatas %}
                <tr>
                    <td>
                        <a href="{% url 'KanzyaDataEdit' kanzyadata.pk %}">
                            <button type="button" class="edit-column-button">編集</button>
                        </a>
                    </td>
                    <td>{{ kanzyadata.ID }}</td>
                    <td>{{ kanzyadata.KANZYA_NAME }}</td>
                    <td>{{ kanzyadata.ZIKAI_YOYAKUBI|date:"Y年m月d日 H:i"|default:"" }}</td>
                    <td>{{ kanzyadata.UKETSUKEBI|date:"Y年m月d日 H:i:s"|default:"" }}</td>
                    <td>{{ kanzyadata.BIKOU|default:"" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}