<header class="system-header">
    <div class="header-container">
        <div class="system-name">
            予約管理システム
        </div>

        <div class="user-info">
            {% if user.is_authenticated %}

                <form action="{% url 'YoyakuKanri' %}" method="get">
                    <button type="submit" class="hedder-button">予約管理</button>
                </form>

                <form action="{% url 'ShikaishiList' %}" method="get">
                    <button type="submit" class="hedder-button">歯科医師</button>
                </form>

                <form action="{% url 'Monshinhyou' %}" method="get" target="_blank">
                    <button type="submit" class="hedder-button">問診票</button>
                </form>

                <form action="{% url 'Uketsuke' %}" method="get" target="_blank">
                    <button type="submit" class="hedder-button">受付</button>
                </form>

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="hedder-button">ログアウト</button>
                </form>

            {% endif %}
        </div>
    </div>
</header>