{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}予約管理システム{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/header.css' %}?v=20260301">
    <link rel="stylesheet" href="{% static 'css/login.css' %}?v=20260301">
    <link rel="stylesheet" href="{% static 'css/YoyakuKanri.css' %}?v=20260301">
    <link rel="stylesheet" href="{% static 'css/ShikaishiList.css' %}?v=20260301">

    <script src="{% static 'js/YoyakuKanri.js' %}?v=20260215"></script>

</head>
<body>

{% include "common/header.html" %}

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>